.section {
  padding-bottom: $bg-grid-size-mobile;
  position: relative;
}

.title {
  height: calc($bg-grid-size-var * 4);
  padding: 20px 10px;

  display: grid;
  place-items: center;
  font-family: 'Right Grotesk';
  font-weight: 900;
  font-size: 76px;
  line-height: 88%;
  /* or 67px */
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  /* 4 */

  color: $color-4;
}
.char-drop {
  position: relative;
  display: inline-block;
  width: min-content;
  height: min-content;
  &::after {
    content: '';
    display: block;
    width: 0.18em;
    height: 0.8892em;

    position: absolute;
    top: 0.77em;
    left: 5%;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='247' viewBox='0 0 51 247' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.8705 197.435C28.614 197.435 31.6488 193.775 31.6488 189.261C31.6488 184.747 28.614 181.088 24.8705 181.088C21.127 181.088 18.0923 184.747 18.0923 189.261C18.0923 193.775 21.127 197.435 24.8705 197.435Z' fill='%2388D1B8'/%3E%3Cpath d='M24.6281 218.262C24.0539 218.298 23.4953 218.464 22.9942 218.746C20.997 219.715 20.1498 222.076 19.242 223.953C17.641 227.093 16.5384 230.464 15.9738 233.943C15.3081 239.997 18.6973 247.686 25.6571 246.778C31.709 245.991 33.9482 239.21 33.343 233.943C32.7856 230.454 31.6613 227.079 30.0145 223.953C28.9856 221.713 27.3515 218.201 24.6281 218.262Z' fill='%2388D1B8'/%3E%3Cpath d='M50.168 0H0.118164C12.2221 1.99796 23.4789 19.0109 23.0552 70.9578C23.185 92.8421 20.8709 114.672 16.1559 136.043C14.3403 143.732 10.467 160.624 20.0896 165.164C21.6806 165.913 23.4155 166.305 25.1735 166.315C26.9518 166.314 28.7081 165.921 30.3175 165.164C39.8796 160.624 36.0065 143.732 34.1909 136.043C29.5055 114.668 27.1916 92.8406 27.2915 70.9578C26.8074 19.0109 38.2456 1.99796 50.168 0Z' fill='%2388D1B8'/%3E%3C/svg%3E%0A");
  }
}
.list {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: $breakpoint-md) {
  .section {
    padding-bottom: calc($bg-grid-size-var * 2);
  }
  .title {
    padding: 25rem;
    font-size: 139rem;
  }

  .list {
    margin: 0 auto;
    padding: 10rem;
    max-width: $bg-grid-size-tablet * 4;
    gap: 20rem;
  }
}
@media (min-width: $breakpoint-lg) {
  .title {
    padding: 0;
    margin: 0 -65rem $bg-grid-size-desktop;
    font-size: 15.25vw;
  }
  .list {
    max-width: $bg-grid-size-desktop * 9;
  }
}
