.container {
  margin-bottom: -$bg-grid-size-desktop;
  height: $bg-grid-size-desktop;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}
.wrapper {
  width: $bg-grid-size-desktop;
  height: $bg-grid-size-desktop;
  padding: 15rem;

  display: grid;
  place-items: center;
}
.logo {
  position: relative;
  width: 73rem;
  height: 73rem;
}
.menuButton {
  width: 100%;
  height: 100%;
  background: rgba(249, 249, 249, 0.1);
  backdrop-filter: blur(7.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 4px;

  font-size: 16rem;
  line-height: 133%;
  /* or 21px */

  letter-spacing: -0.03em;
  text-transform: uppercase;

  /* 1 */

  color: $color-1;
}
