.button {
  width: calc($bg-grid-size-var * 3);
  height: $bg-grid-size-var;
  padding: 10px;
  display: flex;
  align-items: flex-end;

  position: relative;
}
.text {
  font-family: 'Right Grotesk';
  font-weight: 900;
  font-size: 16px;
  line-height: 86%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $color-1;
  position: relative;
  z-index: 1;
}
.bg {
  position: absolute;
  width: 113%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(-28%);
  pointer-events: none;
  svg {
    max-width: none;
    max-height: none;
  }
}
@media (min-width: $breakpoint-md) {
  .button {
    width: calc($bg-grid-size-var * 4);
    padding: 25rem 15rem;
  }
  .text {
    font-size: 26rem;
  }
  .bg {
    width: 110.5%;
    transform: translateY(-24%);
  }
}
@media (min-width: $breakpoint-xl) {
  .button {
    width: calc($bg-grid-size-var * 3);
  }
  .text {
    font-size: 26rem;
  }
  .bg {
    width: 113%;
    transform: translateY(-21%);
  }
}
